* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  position: absolute;
  top: -99999999px;
  opacity: 0;
}

#header {
  width: 100%;
  height: 100px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -50%;
}
#header::after {
  content: " ";
  display: block;
  width: 100%;
  bottom: 0%;
  height: 2px;
  background-color: white;
  opacity: 0.5;
  position: absolute;
}
#header .inner {
  width: 1180px;
  height: 100px;
  position: relative;
  margin: 0 auto;
}
#header .inner .menuWeb #gnb {
  position: absolute;
  bottom: 0;
}
#header .inner .menuWeb #gnb::after {
  content: "";
  display: block;
  clear: both;
}
#header .inner .menuWeb #gnb li {
  float: left;
}
#header .inner .menuWeb #gnb li a {
  width: 100%;
  display: block;
  padding: 14px 40px;
  font: bold 20px/1 "arial";
  color: black;
  text-align: center;
}
#header .inner .menuWeb #gnb li a:hover {
  border-bottom: yellow;
  height: 1px;
  width: 100%;
  color: #aaa;
  transition: 1s ease;
}
#header .inner .menuWeb .util {
  position: absolute;
  top: 20px;
  right: 40px;
}
#header .inner .menuWeb .util::after {
  content: "";
  display: block;
  clear: both;
}
#header .inner .menuWeb .util li {
  float: left;
  margin-left: 25px;
}
#header .inner .menuWeb .util li a {
  font: 15px/1 "ariarl";
  color: black;
}

#visual {
  width: 100%;
  height: 600px;
  margin-top: -100px;
  background-color: #000;
  background: url(../img/figure.jpg) no-repeat center/cover;
}
#visual .inner {
  width: 1180px;
  padding: 0px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#visual .inner h1 {
  font: bold 50px/1 "arial";
  color: white;
  text-align: center;
  margin-bottom: 30%;
}

#information {
  width: 100%;
  height: calc(100vh - 600px);
}
#information .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
#information .inner .wrap {
  width: 580px;
  float: left;
  height: 100%;
  margin-right: 20px;
}
#information .inner .wrap h1 {
  margin: 20px auto 10px;
  text-align: left;
  font: bold 40px/1 "arial";
  color: black;
}
#information .inner .wrap h1 p {
  font: 20px/1.3 "arial";
  color: pink;
}
#information .inner .wrap h1 a {
  display: block;
  width: 400px;
  height: 30px;
  border: 1x solid #bbb;
  font: bold 50px/30px "arial";
  color: black;
  text-align: center;
}
#information .inner .wrap h1 a:hover {
  background: pink;
  color: #555;
}
#information .inner .QiuckJoin {
  border: 1px solid black;
  position: relative;
}
#information .inner .QiuckJoin form {
  position: absolute;
  top: -54px;
  right: 0;
}
#information .inner .QiuckJoin form h1 {
  background-color: rgba(255, 255, 255, 0.735);
  opacity: 0.7;
  padding: 10px 8px;
}
#information .inner .QiuckJoin form table {
  width: 100%;
  border-top: 2px solid #999;
}
#information .inner .QiuckJoin form table th {
  width: 40%;
  padding: 10px 20px;
  font: bold 18px/1 "arial";
  color: #666;
  border-bottom: 1px solid #bbb;
}
#information .inner .QiuckJoin form table th:last-child {
  border-bottom: none;
}
#information .inner .QiuckJoin form table th input[type=submit] {
  width: 150px;
  height: 30px;
  border: none;
  background: #444;
  font: bold 14px/1 "arial";
  color: #fff;
}
#information .inner .QiuckJoin form table td {
  border-bottom: 1px solid #bbb;
  padding: 15px 30px;
  background: white;
}
#information .inner .QiuckJoin form table td input[type=text] {
  width: 100%;
  height: 25px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #bbb;
  background: white;
  text-align: center;
  font: bold 14px/1 "";
}
#information .inner .QiuckJoin form table .agreement label[for=agree] {
  font-size: 20px;
}

#services {
  width: 100%;
}
#services .inner {
  width: 1180px;
  position: relative;
  margin: 0 auto;
}
#services .inner h1 {
  font-weight: bold;
  font-size: 30px;
  color: #555;
  text-align: center;
  margin-top: 100px;
  letter-spacing: 1px;
}
#services .inner .tab {
  width: 100%;
  padding-top: 100px;
  margin: 100px auto;
  position: relative;
}
#services .inner .tab dt {
  width: 16.6666666667%;
  height: 40px;
  position: absolute;
  top: 0;
  opacity: 1;
}
#services .inner .tab dt:nth-of-type(1) {
  left: 0%;
}
#services .inner .tab dt:nth-of-type(2) {
  left: 16.6666666667%;
}
#services .inner .tab dt:nth-of-type(3) {
  left: 33.3333333333%;
}
#services .inner .tab dt:nth-of-type(4) {
  left: 50%;
}
#services .inner .tab dt:nth-of-type(5) {
  left: 66.6666666667%;
}
#services .inner .tab dt:nth-of-type(6) {
  left: 83.3333333333%;
}
#services .inner .tab dt .icon {
  width: 100%;
}
#services .inner .tab dt .icon img {
  width: 45px;
  height: 45px;
}
#services .inner .tab dt.on .icon {
  opacity: 1;
}
#services .inner .tab dd {
  width: 100%;
  height: 200px;
  position: relative;
}
#services .inner .tab dd article {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
#services .inner .tab dd article::after {
  content: "";
  display: block;
  clear: both;
}
#services .inner .tab dd article .pic {
  float: left;
  width: 50%;
  overflow: hidden;
  height: 400px;
}
#services .inner .tab dd article .pic img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
#services .inner .tab dd article .wrap {
  float: left;
  width: 50%;
  height: 100%;
  background-color: rgba(173, 169, 52, 0.7568627451);
  position: relative;
}
#services .inner .tab dd article .wrap h2 {
  padding: 30px 10px 10px;
  font: bold 40px/1.3 "arial";
}
#services .inner .tab dd article .wrap p {
  padding-left: 10px;
  font: 18px/1.3 "arial";
  width: 100%;
  text-align: left;
}
#services .inner .tab dd article .wrap a {
  bottom: 50px;
  left: 10px;
  border: 1px solid black;
  padding: 10px 20px;
  color: black;
  font: 13px/1.3 "arial";
}
#services .inner .tab dd.on .pic {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
