* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  position: absolute;
  top: -99999999px;
  opacity: 0;
}

#header {
  z-index: 10;
  width: 100%;
  height: 100px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -50%;
}
#header .inner {
  width: 1180px;
  height: 100px;
  position: relative;
  margin: 0 auto;
}
#header .inner .menuWeb #gnb {
  position: absolute;
  bottom: 0;
}
#header .inner .menuWeb #gnb::after {
  content: "";
  display: block;
  clear: both;
}
#header .inner .menuWeb #gnb li {
  float: left;
}
#header .inner .menuWeb #gnb li a {
  width: 100%;
  display: block;
  padding: 14px 40px;
  font: bold 20px/1 "arial";
  color: white;
  opacity: 0.7;
  text-align: center;
}
#header .inner .menuWeb #gnb li a:hover {
  height: 5px;
  width: 100%;
  color: rgba(235, 213, 69, 0.989);
  transition: 1s ease;
}
#header .inner .btnCall {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  width: 20px;
  height: 20px;
}
#header .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
#header .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}
#header .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  transition: 1s;
  text-indent: -9999px;
}
#header .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
#header .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
#header .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header .inner .menuMo {
  width: 270px;
  height: 100vh;
  background: #333;
  position: fixed;
  top: 0;
  left: -270px;
  padding: 35px 30px;
  z-index: 10;
  transition: 0.5s;
}
#header .inner .menuMo.on {
  left: 0;
}
#header .inner .menuMo h1 {
  padding-bottom: 30px;
  border-bottom: 1px solid #666;
}
#header .inner .menuMo h1 a {
  display: block;
  font: bold 24px/1 "arial";
  color: #fff;
  text-align: center;
}
#header .inner .menuMo h1 span {
  font-size: 12px;
  color: #aaa;
}
#header .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #444;
  font: bold 14px/1 "arial";
  color: #888;
  text-align: center;
}

#visual {
  width: 100%;
  height: 600px;
  margin-top: -100px;
}
#visual .slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#visual .slider ul {
  position: absolute;
  width: 300%;
  height: 100%;
  margin-left: 0;
  top: 0;
  left: 0;
}
#visual .slider ul li {
  width: 33.3333333333%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font: bold 20vw/1 "arial";
  opacity: 0.7;
}
#visual .slider ul li[data-index="1"] {
  background: url(../img/DEUX\ VILLE\ _\ livingaxis.jpg) no-repeat center/cover;
}
#visual .slider ul li[data-index="2"] {
  background: url(../img/Koral\ Brothers\ Inc_\ -\ Hamptons\ Custom\ Home\ Builder\ &\ General\ Contractors.png) no-repeat center/cover;
  opacity: 0.5;
  height: 100%;
  width: 100%;
}
#visual .slider ul li[data-index="3"] {
  background: url(../img//project_villa.jpg) no-repeat center/cover;
  background-color: white;
  height: 100%;
  width: 100%;
}
#visual .slider ul li::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: 3;
  background: rgba(0, 0, 0, 0.279);
}
#visual .inner {
  width: 1180px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#visual .inner h1 {
  font: bold 50px/1 "arial";
  color: rgba(235, 213, 69, 0.989);
  margin-bottom: 25%;
  text-align: center;
}
#visual .prev {
  display: block;
  width: 50px;
  height: 50px;
  top: 25%;
  float: left;
  margin: 100px;
  position: absolute;
}
#visual .prev strong {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.5s;
  opacity: 0;
  transform: translate(100%, -50%);
  font: bold 12px/1 "arial";
  color: rgba(235, 213, 69, 0.989);
}
#visual .prev::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(-30deg);
  transform-origin: left center;
  transition: all 0.5s;
}
#visual .prev::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(30deg);
  transform-origin: left center;
  transition: all 0.5s;
}
#visual .prev:hover::before {
  top: 0%;
  transform: rotate(-180deg);
  transform-origin: center center;
}
#visual .prev:hover::after {
  top: 100%;
  transform: rotate(180deg);
  transform-origin: center center;
}
#visual .prev:hover strong {
  transform: translate(-50%, -50%);
  opacity: 1;
}
#visual .next {
  display: block;
  width: 50px;
  height: 50px;
  float: left;
  margin: 100px;
  top: 25%;
  right: 0%;
  position: absolute;
}
#visual .next strong {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-150%, -50%);
  opacity: 0;
  transition: all 0.5s;
  font: bold 12px/1 "arial";
  color: rgba(235, 213, 69, 0.989);
}
#visual .next::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 50%;
  right: 0;
  transform: rotate(30deg);
  transform-origin: right center;
  transition: all 0.5s;
}
#visual .next::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 50%;
  right: 0;
  transform: rotate(-30deg);
  transform-origin: right center;
  transition: all 0.5s;
}
#visual .next:hover::before {
  top: 0%;
  transform-origin: center center;
  transform: rotate(180deg);
}
#visual .next:hover::after {
  top: 100%;
  transform: rotate(-180deg);
  transform-origin: center center;
}
#visual .next:hover strong {
  transform: translate(-50%, -50%);
  opacity: 1;
}

#information {
  width: 100%;
  height: calc(100vh - 600px);
}
#information .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
#information .inner .wrap {
  width: 580px;
  float: left;
  height: 100%;
  margin-right: 20px;
}
#information .inner .wrap h1 {
  margin: 30px auto 10px;
  text-align: left;
  font: bold 40px/1 "arial";
  color: rgba(235, 213, 69, 0.989);
}
#information .inner .wrap p {
  font: 20px/1.3 "arial";
}
#information .inner .wrap a {
  display: block;
  width: 150px;
  height: 40px;
  border: 1px solid;
  font: bold 15px/40px "arial";
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  margin: 20px 0px 10px;
  background-color: rgba(235, 213, 69, 0.989);
}
#information .inner .wrap a:hover {
  background: #fff;
  color: rgba(235, 213, 69, 0.989);
}
#information .QiuckJoin {
  position: relative;
  border-radius: 0px;
}
#information .QiuckJoin form {
  position: absolute;
  top: -54px;
  right: 0;
}
#information .QiuckJoin form h1 {
  color: rgba(255, 255, 255, 0.735);
  background-color: rgba(235, 213, 69, 0.989);
  padding: 10px 8px;
}
#information .QiuckJoin form table {
  width: 100%;
}
#information .QiuckJoin form table th {
  width: 40%;
  padding: 10px 20px;
  font: bold 18px/1 "arial";
  color: #666;
}
#information .QiuckJoin form table th:last-child {
  border-bottom: none;
}
#information .QiuckJoin form table th input[type=submit] {
  width: 150px;
  height: 30px;
  border: none;
  background-color: rgba(28, 27, 23, 0.989);
  font: bold 14px/1 "arial";
  color: #fff;
}
#information .QiuckJoin form table td {
  padding: 15px 30px;
  background: white;
}
#information .QiuckJoin form table td input[type=text] {
  width: 100%;
  height: 25px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(235, 213, 69, 0.989);
  background: none;
  text-align: center;
  font: bold 12px/1 "";
}
#information .QiuckJoin form .agreement label[for=agree] {
  font-size: 20px;
}

#services {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#services .inner {
  width: 1180px;
}
#services .inner h1 {
  font-weight: bold;
  font-size: 30px;
  color: #555;
  text-align: center;
  margin-top: 100px;
  letter-spacing: 1px;
}
#services .inner main {
  width: 1180px;
}
#services .inner main div {
  width: 100%;
}
#services .inner main div ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 80px;
}
#services .inner main div ul li {
  width: 100%;
  height: 100%;
  padding: 1px 41px;
  font: bold 20px/1 "arial";
  color: black;
  text-align: center;
}
#services .inner main div ul li a {
  width: 100%;
  height: 100%;
  display: block;
  padding: 20px 0px;
  font: bold 18px/1 "arial";
  color: rgba(0, 0, 0, 0.747);
  text-align: center;
  transition: all 1s;
}
#services .inner main div ul li.on a {
  color: rgba(235, 213, 69, 0.989);
  scale: 1.2;
}
#services .inner main section {
  width: 100%;
  height: 350px;
  position: relative;
  margin-top: 50px;
}
#services .inner main section article {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.3s;
  display: none;
}
#services .inner main section article::after {
  content: "";
  display: block;
  clear: both;
}
#services .inner main section article .pic {
  float: left;
  width: 50%;
  overflow: hidden;
  height: 400px;
}
#services .inner main section article .pic img {
  width: 100%;
  min-height: 350px;
  object-fit: cover;
  transition: 0.5s;
}
#services .inner main section article .wrap {
  float: left;
  width: 50%;
  overflow: hidden;
  min-height: 350px;
  background-color: rgba(235, 213, 69, 0.989);
  position: relative;
}
#services .inner main section article .wrap h2 {
  padding: 30px 30px 10px;
  font: bold 40px/1.3 "arial";
}
#services .inner main section article .wrap p {
  padding-left: 50px;
  font: 18px/1.3 "arial";
  width: 100%;
  text-align: left;
  margin-bottom: 50px;
}
#services .inner main section article .wrap a {
  display: block;
  width: 100px;
  margin: 80px 10px 10px;
  border: 1px solid black;
  padding: 10px 30px;
  color: black;
  letter-spacing: 1px;
  font: 13px/1.3 "arial";
}
#services .inner main section article.on {
  display: flex;
}

#LatestProjects {
  width: 100%;
  padding: 180px 0 150px;
}
#LatestProjects .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
#LatestProjects .inner h1 {
  font-weight: bold;
  font-size: 30px;
  color: #555;
  text-align: center;
  margin-top: 100px;
  letter-spacing: 1px;
}
#LatestProjects .inner .wrap {
  padding-top: 80px;
  width: 100%;
}
#LatestProjects .inner .wrap::after {
  content: "";
  display: block;
  clear: both;
}
#LatestProjects .inner .wrap article {
  width: 280px;
  height: 200px;
  float: left;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
}
#LatestProjects .inner .wrap article:last-child {
  margin-right: 0px;
}
#LatestProjects .inner .wrap article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}
#LatestProjects .inner .wrap article::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: 3;
}
#LatestProjects .inner .wrap article a {
  font-size: 20px;
  font-family: "arial";
  color: rgba(235, 213, 69, 0.989);
  position: absolute;
  z-index: 5;
  letter-spacing: 1px;
  opacity: 0;
}
#LatestProjects .inner .wrap article:hover a {
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 1px solid rgba(235, 213, 69, 0.989);
}
#LatestProjects .inner .wrap article:hover img {
  transform: scale(1.2);
}
#LatestProjects .inner .wrap article:hover::after {
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.279);
}

#footer {
  width: 100%;
  padding: 80px 0;
  background-color: rgba(50, 49, 44, 0.989);
  opacity: 0.9;
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1 {
  font: bold 30px/1 "arial";
  color: rgba(235, 213, 69, 0.989);
  float: left;
}
#footer .inner ul {
  float: right;
}
#footer .inner ul li {
  float: left;
  margin-left: 20px;
}
#footer .inner ul li a {
  font: bold 14px/1 "arial";
  color: rgba(235, 213, 69, 0.989);
}
#footer .inner address {
  float: left;
  width: 100%;
  font: 14px/1.3 "arial";
  color: rgba(235, 213, 69, 0.989);
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid white;
}
#footer .inner p {
  float: left;
  width: 100%;
  font: 12px/1 "arial";
  color: rgba(235, 213, 69, 0.989);
}

@media screen and (max-width: 1179px) {
  #header .inner {
    width: 100%;
    height: 100px;
  }
  #header .inner .menuWeb {
    display: none;
  }
  #header .inner .btnCall {
    display: block;
  }
  #visual {
    width: 100%;
    height: calc(100vh - 350px);
  }
  #visual .inner {
    width: 100%;
  }
  #information {
    padding: 50px 30px;
  }
  #information .inner {
    width: 100%;
  }
  #information .inner ::after {
    content: "";
    display: block;
    clear: both;
  }
  #information .inner .wrap {
    width: 100%;
    height: 100%;
  }
  #information .inner .wrap h1 {
    text-align: left;
  }
  #information .inner .wrap p {
    text-align: center;
  }
  #information .inner .wrap a {
    margin: 0 auto;
  }
  #information .QiuckJoin form {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  #information .QiuckJoin form h1 {
    padding: 0px 0pax;
    width: 100%;
    height: 100%;
  }
  #brand {
    padding: 100px 30px;
  }
  #brand .inner {
    width: 100%;
  }
  #brand .inner .wrap article:nth-of-type(1) {
    width: 49%;
    margin-right: 2%;
  }
  #brand .inner .wrap article:nth-of-type(2) {
    width: 49%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  #brand .inner .wrap article:nth-of-type(3) {
    width: 49%;
  }
  #brand .inner .wrap article:nth-of-type(4) {
    width: 100%;
  }
  #banner {
    padding: 150px 30px;
  }
  #banner .inner {
    width: 100%;
  }
  #comments {
    padding: 100px 30px;
  }
  #comments .inner {
    width: 100%;
  }
  #footer {
    padding: 80px 30px;
  }
  #footer .inner {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
