@charset 'utf-8';

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

// Header 영역
#header {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	width: 100%;
	height: 100px;
	&::after {
		content: "";
		display: block;
		width: 100%;
		background-color: pink;
		position: absolute;
		top: 50%;
		left: 50%;
	}
	.inner {
		width: 1180px;
		height: 100px;
		margin: 0 auto;
		position: absolute;
		top: 0;
		left: 0;

		.menuWeb {
			#gnb {
				position: absolute;
				bottom: 0;
				li {
					float: left;
					a {
						display: block;
						padding: 14px 40px;
						font: bold 14px/1 "arial";
						color: #777;
						&:hover {
							background-color: #555;
							color: #fff;
							transition: 3s ease;
						}
					}
				}
			}
			.util {
				position: absolute;
				top: 20px;
				right: 40px;

				li {
					float: left;
					margin-left: 20px;

					a {
						font: 12px/1 "ariarl";
						color: #999;
					}
				}
			}
		}
	}
}

// visual 영역

#visual {
	width: 100%;
	height: calc(100vh - 400px);
	//비쥬얼과 헤더와 섹션을 합하면 100%를 차지해야한다.
	margin-top: -100px;
	overflow: hidden;
	background-color: #000;
	.pic {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			opacity: 0.4;
		}
	}
	.inner {
		width: 1180px;
		margin: 0 auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		h1 {
			font: normal 80px/1 "arial";
			color: #fff;
			margin-bottom: 20px;
		}
		p {
			font: 16px/1.4 "arial";
			color: #888;
			margin-bottom: 80px;
		}
	}
}
