@charset 'utf-8';

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

.hidden {
	position: absolute;
	top: -99999999px;
	opacity: 0;
}
// Header 영역
#header {
	width: 100%;
	height: 100px;
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: -50%;
	// 에프터선 그은 이유 : nav랑 다르게 보더바텀만 좀 연하게 해주고싶어서,,
	&::after {
		content: " ";
		display: block;
		width: 100%;
		bottom: 0%;
		height: 2px;
		background-color: white;
		opacity: 0.5;
		position: absolute;
	}
	.inner {
		width: 1180px;
		height: 100px;
		position: relative;
		margin: 0 auto;
		.menuWeb {
			#gnb {
				position: absolute;
				bottom: 0;
				//li에 플롯거니깐 플롯해제
				&::after {
					content: "";
					display: block;
					clear: both;
				}
				li {
					float: left;
					a {
						width: 100%;
						display: block;
						padding: 14px 40px;
						font: bold 20px/1 "arial";
						color: black;
						text-align: center;
						&:hover {
							//클릭하면 밑줄선 나오게 하고싶은데 안나옴
							border-bottom: yellow;
							height: 1px;
							width: 100%;
							color: #aaa;
							transition: 1s ease;
						}
					}
				}
			}
			.util {
				position: absolute;
				top: 20px;
				right: 40px;
				//li에 플롯걸었으니깐 플롯해제 걸기
				&::after {
					content: "";
					display: block;
					clear: both;
				}
				li {
					float: left;
					margin-left: 25px;
					a {
						font: 15px/1 "ariarl";
						color: black;
					}
				}
			}
		}
	}
}

// visual 영역

#visual {
	width: 100%;
	height: 600px;
	margin-top: -100px;
	//사진시작이 브라우저 최상단부터니깐 마진탑
	background-color: #000;
	//사진 좀 어둡게 해주려고 했는데 안됨
	background: url(../img/figure.jpg) no-repeat center/cover;
	.inner {
		width: 1180px;
		padding: 0px auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		h1 {
			font: bold 50px/1 "arial";
			color: white;
			text-align: center;
			margin-bottom: 30%; //사진때매 같이 수정해야함
		}
	}
}

#information {
	width: 100%;
	height: calc(100vh - 600px);
	//(헤더 100)  +   (비쥬얼 하이트 600 마진탑 -100)
	.inner {
		width: 1180px;
		height: 100%;
		margin: 0 auto;
		position: relative;
		.wrap {
			width: 580px;
			float: left;
			height: 100%;
			margin-right: 20px;
			//h1부터 p a 미동없음
			h1 {
				margin: 20px auto 10px;
				text-align: left;
				font: bold 40px/1 "arial";
				color: black;

				//p랑 a 안먹음...
				p {
					font: 20px/1.3 "arial";
					color: pink;
				}
				a {
					display: block;
					width: 400px;
					height: 30px;
					border: 1x solid #bbb;
					font: bold 50px/30px "arial";
					color: black;
					text-align: center;
					&:hover {
						background: pink;
						color: #555;
					}
				}
			}
		}
		.QiuckJoin {
			border: 1px solid black;
			position: relative;
			//동의합니다가 위에있음.. 서브밋 왼쪽에 두고싶은데..
			form {
				position: absolute;
				top: -54px;
				right: 0;

				h1 {
					background-color: rgba(255, 255, 255, 0.735);
					opacity: 0.7;
					padding: 10px 8px;
				}
				table {
					width: 100%;
					border-top: 2px solid #999;
					th {
						width: 40%;
						padding: 10px 20px;
						font: bold 18px/1 "arial";
						color: #666;
						// border-right: 1px solid #bbb;
						border-bottom: 1px solid #bbb;
						&:last-child {
							border-bottom: none;
						}
						input[type="submit"] {
							width: 150px;
							height: 30px;
							border: none;
							background: #444;
							font: bold 14px/1 "arial";
							color: #fff;
						}
					}
					td {
						border-bottom: 1px solid #bbb;
						padding: 15px 30px;
						background: white;

						input[type="text"] {
							width: 100%;
							height: 25px;
							border-top: none;
							border-left: none;
							border-right: none;
							border-bottom: 1px solid #bbb;
							background: none;
							text-align: center;
							font: bold 14px/1 "";
						}
					}
					.agreement {
						label[for="agree"] {
							font-size: 20px;
						}
					}
				}
			}
		}
	}
}
//전체적으로 망함
//js 탭메뉴 + 하면서 on클릭될때 아이콘이 사라지고 글씨가 보이게

#services {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	.inner {
		width: 1180px;
		position: relative;
		margin: 0 auto;

		h1 {
			font-weight: bold;
			font-size: 30px;
			color: #555;
			text-align: center;
			margin-top: 100px;
			letter-spacing: 1px;
		}
		.tab {
			width: 100%;
			padding-top: 100px;
			// border: 1px solid blue;
			margin: 100px auto;
			position: relative;
			dt {
				width: calc(100% / 6);
				height: 40px;
				position: absolute;
				top: 0;
				opacity: 1; // 자바스크립타하고 나중에 0으로 바꿔보기
				&:nth-of-type(1) {
					left: calc((100% / 6) * 0);
				}
				&:nth-of-type(2) {
					left: calc((100% / 6) * 1);
				}
				&:nth-of-type(3) {
					left: calc((100% / 6) * 2);
				}
				&:nth-of-type(4) {
					left: calc((100% / 6) * 3);
				}
				&:nth-of-type(5) {
					left: calc((100% / 6) * 4);
				}
				&:nth-of-type(6) {
					left: calc((100% / 6) * 5);
				}
				.icon {
					width: 100%;
					img {
						width: 45px;
						height: 45px;
						// background: #555;
					}
				}
				&.on .icon {
					opacity: 1;
				}
			}
			dd {
				width: 100%;
				height: 350px;
				// position: relative;1
				position: absolute;
				top: 100px;
				// display: none; // 자바스크립트하고 풀어주기
				article {
					width: 100%;
					height: 100%;
					position: absolute;
					overflow: hidden;
					top: 0;
					left: 0;
					&::after {
						content: "";
						display: block;
						clear: both;
					}
					.pic {
						//사진있는곳
						float: left;
						width: 50%;
						overflow: hidden;
						height: 400px;
						img {
							width: 100%;
							min-height: 350px;
							object-fit: cover;
						}
					}
					.wrap {
						//문구있는곳
						float: left;
						width: 50%;
						min-height: 350px; //텍스트가 어던건 두줄일수도있고 높이값이 바뀌니간
						background-color: #ada934c1;
						position: relative;
						h2 {
							padding: 30px 10px 0px;
							font: bold 40px/1.3 "arial";
						}
						p {
							padding-left: 30px;
							font: 18px/1.3 "arial";
							width: 100%;
							text-align: left;
							margin-bottom: 50px;
						}
						a {
							// position: absolute;
							display: block;
							width: 100px;
							height: 100%;
							margin: 80px 10px 10px;
							border: 1px solid black;
							padding: 10px 30px;
							color: black;
							letter-spacing: 1px;
							font: 13px/1.3 "arial";
						}
					}
				}
				&.on .pic {
					display: flex;
				}
			}
		}
	}
}
